

body {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("images/123.jpg");
    background-size: cover;
    
}
.container {
    
    width: 100%;
    min-height: 100px;
    
}
.header {
    
    background-color: green;
    font-family: "Comic Sans MS";
}
p {
    
}